main {
    display: flex;
    align-items: center;
    position: relative;
}

.introducao-texto h1 {
    padding-bottom: 20px;
}

.introducao-texto p {
    color: var(--cor-1);
    padding-bottom: 10px;
}

.img-home img {
    width: 100%;
    object-fit: cover;
    object-position: top right;
}

@media(max-width:800px) {
    main.container {
        padding-left: 0px;
        padding-right: 0px;
        background-color: var(--cor-4);
    }

    .introducao-texto {
        padding-left: 20px;
        padding-right: 20px;
        position: absolute;
    }

    .introducao-texto h1 {
        color: var(--cor-0);
    }

    .introducao-texto p {
        color: var(--cor-0);
    }

    /*     .img-home img {
        height: 700px;
    } */
}

@media(max-width:500px) {
    /*     .img-home img {
        height: 500px;
    } */
}