.contato-bg.grid-2-cl {
    gap: 0px;
}

.contato-bg {
    background: var(--color-4);
}


/* .contato {
    padding-left: 20px;
    padding-right: 20px;
} */

.link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.link h2 {
    grid-column: 1 / -1;
}

.link a {
    display: flex;
    align-items: center;
}


/* .link p:first-child {
    padding-left: 15px;
}



.link a {
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-bottom: 40px;
} */

form .botao {
    align-self: flex-start;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    border-bottom: 2px solid var(--spotlight);
    padding: 10px 0px;
    background: transparent;
}

input::placeholder,
label,
input,
textarea {
    color: var(--color-0);
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    margin-bottom: 20px;
}

textarea {
    background: transparent;
    border: 2px solid var(--spotlight);
    resize: none;
}

form,
input,
textarea,
label {
    font: 400 1.2rem/1.5 "Roboto", sans-serif;
}

input:focus,
textarea:focus {
    outline: none;
}

.img img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 800px) {
    .img {
        display: none;
    }
}