.contato.grid-2-cl {
    gap: 40px;
}

.link {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-bottom: 40px;
}

.link h2 {
    grid-column: 1 / -1;
}

.link a {
    display: flex;
    align-items: center;
    gap: 10px;
}

form .btn {
    align-self: flex-start;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    border-bottom: 1px solid var(--cor-4);
    padding: 10px 0px;
    background: transparent;
}

input::placeholder,
label,
input,
textarea {
    color: var(--cor-4);
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    margin-bottom: 20px;
}

textarea {
    background: transparent;
    border: 1px solid var(--cor-4);
    resize: none;
}

form,
input,
textarea,
label {
    font: 400 1.2rem/1.5 "Roboto", sans-serif;
}

input:focus,
textarea:focus {
    outline: none;
}

.img {
    padding-bottom: 90px;
}

.img img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 800px) {
    .contato-grid {
        border-top: 2px solid #f5f5f5;
    }
    .link {
        grid-template-columns: 1fr 1fr;
    }
    .img {
        display: none;
    }
}

@media (max-width: 600px) {
    .link {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding-bottom: 60px;
    }
}