.pacotes {
    position: relative;
}

.pacotes.pb-pt {
    padding-top: 0px;
}

.pacotes ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20px;
    overflow: auto;
}

.pacotes img {
    max-width: 100%;
    padding-bottom: 20px;
}

.pacotes li {
    min-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-y: hidden;
    background-color: #f8f8f8;
}

.pacotes span {
    padding-bottom: 5px;
    color: var(--cor-2);
    text-transform: uppercase;
}

.texto-informacoes {
    max-width: 30ch;
    padding: 10px 20px;
    color: var(--cor-4);
    position: relative;
}

.texto-informacoes::before {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 10px;
    left: 0;
    margin-top: 5px;
    background-image: url("../../img/check.svg");
    background-repeat: no-repeat;
}

.texto-informacoes:nth-last-child(2) {
    padding-bottom: 30px;
}

.pacotes .btn {
    align-self: flex-start;
    background-color: var(--cor-2);
    margin-top: auto;
    margin-left: 20 px;
}